.home-page {
    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 40%;
        max-width: 90%;
    }


    h1 {
        color: #fff;
        font-size: 43px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;


        &::before {
            content: '<h1>';
            font-family: 'Coolvetica';
            font-size: 18px;
            margin-top: -20px;
            color: #ffd700;
            position: absolute;
            left: 15px;
            opacity: 0.6;
        }
        img {
            width: 32px;
        }
    }
}